[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
Sphinx = "*"
numpy = "*"
termcolor = "*"
toml = "*"
"-e ." = "*"

[packages]
toml = "*"
termcolor = "*"
pytest = "*"
"-e ." = "*"
